@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


/* header text and animations */
h1 {
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 40px;
    font-weight: 450;
    text-align: center;
    color: #5CA960;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    animation: zoom 2s ease-in-out infinite alternate;
}
/* discovered on accident*/
@keyframes zoom {
  from {
    transform: scale(1);
    color: #5CA960;
  }
  to {
    transform: scale(1.05);
    color: #407443;
  }
}
/* edits for the heading */
.heading {
    margin: 0;
    background-color: #ffffffd2;
    padding: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
/* here is the code for images and animations */
.plant-img {
    width: 45px;
    height: 45px;
    margin: 0 0px 0 0;
    padding: 20px;
    
    animation: spin 2s ease-in-out infinite alternate;

}
.music-img {
    width: 45px;
    height: 45px;
    margin: 0 0 0 0px;
    padding: 20px;
    animation: spin 2s ease-in-out infinite alternate;
}
@keyframes spin {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }

}
/* edits for the buttons below header */
.header-buttons {
  background-color: #4c844e;
  color: white;
  padding: 10px 20px;
  text-decoration: none; /* Removes the underline */
  display: inline-block;
  border-radius: 5px;
  font-family: 'Lilita One', sans-serif;
    font-weight: 200px;
  box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.3);
}
/* edits for the buttons area */
.header-buttons-container {
    margin: 0;
    background-color: #ffffffd2;
    padding: 10px;
    justify-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-buttons:hover {
    background-color: #3a6b3c;
    box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.5);
    transform: scale(1.05);
    transition: all 0.3s ease;
}


/* body code below */

body {
    background-color: #131313;
    margin: 0;
    padding: 0;
    /* tip I learned online to add gradient over an image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.804)), url("assets/backgroundThing.webp");
    background-size: cover;
    background-position: center;

}
.break {
    height: 30px;
}
 /* instructions section */
.welcome {
  font-family: 'Bungee', cursive;
  font-weight: 400;
  font-size: 152px;
    text-align: center;
    padding: 0px;
    color: #ffffff;
    margin:0px;
    animation: coloreffect 3s ease-in-out infinite alternate;

}
@keyframes coloreffect {
  from {
    transform: scale(1);
    color: #5CA960;
  }
  to {
    transform: scale(1.08);
    color: #70b473b5;
  }
}
.divider {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
.instructions {
  font-family: 'Lilita One', sans-serif;
  font-weight: 100px;
  font-size: 3.1rem;
  text-align: left;
  padding: 20px;
  color: #ffffff;
  margin:0px;
  animation: scale linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
}
.pictureMe {
  width: 310px;
  height: auto;
  border-radius: 10%;
  border: 10px solid #5CA960; 
  margin: 20px auto;
  animation: scale linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
}


.extended-intro {
  padding: 60px;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.304), rgba(0, 0, 0, 0.505)), url("assets/stars.gif");
}
/* edits for the intro content */
.stage {
  position: relative;
  width: 100%;
  max-width: 4032px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.stage img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 10px;
  animation: scale linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
 
}
/* Animation for the room image */
@keyframes scale {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}
.keyboard {

  left: 4%; top: 65%; width: 20%; height: 27%;
}
.computer {
  left: 33%; top: 55%; width: 15%; height: 20%;
}
.vinyls {
  left: 82%; top: 75%; width: 15%; height: 20%;
}
.hotspot {
  position: absolute;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.2s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hotspot:hover {
    border-color: #5b8d3c82;
    background: rgba(115, 156, 97, 0.386);
    box-shadow: 0 0 25px rgba(109, 255, 80, 0.5);
    scale: 1.05;
    transition: all 0.6s;
}
.hotspot .label {
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    line-height: 1.2;
  }